<h1>Welcome to Makersbnb!</h1>
<h2>Signup here!</h2>
<form action='/details' method='post'>

  <label for="first name"></label><br>
    <input type="text" name="first_name" placeholder="first name"><br>
 
 <label for="last name"></label><br>
  <input type="text" name="last_name" placeholder="last name"><br>

  <label for="email"></label><br>
    <input type="email" name="email" placeholder="email"><br>
  
  <label for="username"></label><br>
    <input type="text" name="username" placeholder="username"><br>

  <label for="password"></label><br>
    <input type="password" name="password" minlength='8' placeholder="password min 8 chars"><br>

  <label for="confirm password"></label><br>
    <input type="password" name="password" minlength='8' placeholder="confirm password"><br>

    <br><input type="submit" value="Submit">

</form>
